
header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

nav {
    display: flex;
    background-color: #ffffff;
    align-items: center;
}

nav div {
    height: 30px;
    flex-grow: 4;
    padding: 20px;
}

nav div img {
    height: 100%;
}

nav div.user {
    text-align: right;
}

nav div.search-container > input {
    box-sizing: border-box;
    height: 30px;
    width: 80%;
    margin: 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
}

nav div.search-container > button {
    box-sizing: border-box;
    height: 30px;
    width: 15%;
    margin: 0;
    padding: 5px;
    border: 1px solid #328ed6;
    cursor: pointer;
    background-color: #328ed6;
    color: white;
    font-weight: bold;
}

section {
    background-color: DodgerBlue;
}

section div.container {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    width: 60%;
    margin: auto;
}

section div.posts {
    flex-direction: column;
    text-align: center;
}

.post1 {
    box-shadow: 2px 2px 2px 2px #cac5c5;
}

.post1 .upper {
    display:flex;
    justify-content: space-between;
    color: #8c8888;
    margin: 10px;
}

.post1 .upper img {
    height: 40px;
    width: auto;
    margin-top: auto;
}

.post1 .inside img{
    width: 800px;
    height: auto;
}

.post1 .text {
    text-align: left;
    margin: 10px;
}

.post1 .text img {
    width: 100px;
    heigth: auto;
}