body {background-color: DodgerBlue;}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #White;
}
.login-flexbox {
  height: 400px;
  width: 300px;
  background: #fff;
  padding: 50px;
  border-radius: 10px;
  position: relative;
  text-align: center;
}
